body{
    margin: 0px;
}

$colors:(
    background_highlighted:#DCC7E7,
    background_grey:#f2f2f2, 
    lettering_1:#585759,
    lettering_2:white,
    lettering_3:#EFEFFB,  
    color_hover1:#F5C33B,
    color_hover2:#E05263,
    color_hover3:#585759,
    border_color:#585759,
)



